@* @{ *@
@*     string message = "c# code"; *@
@* } *@
@* *@
@* <h1>Contact @message</h1> *@
@* <ul style="list-style-type: none;"> *@
@*     @{ for (int i = 0; i<=100; i++) *@
@*         { *@
@*             <li>@i</li> *@
@*         } *@
@*     } *@
@* </ul> *@
@{
    Layout="~/Views/Shared/_Layout.cshtml";
}
<h1>Contact</h1>
